*~
*__pycache__
*.csr
*.pem
*.pyc
*.tmp
*.sqlite3
logs
codemirror.min.js
.DS_Store
*.log
*.sobj
.*.sage-backup
.*.sage-history
.*.smc-backup
data/
.#*
\#*
node_modules
*.sass-cache

*sage-chat
*sage-git
